{% load static %}
<html>
    <head>
        <title>django BloG</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <!-- この行ではGoogle Fonts から フォントを読み込んでいます。 
        <link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Artifika" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        -->
        <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet">


        <!-- 自作のcssは Djangoタグによってcssファイルを指定 -->
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">

    </head>
    <body>
        <div class="page-header">
        <!-- 共通ヘッダ -->

            <!-- ブログタイトル。ルートへのリンクを入れておく -->
            <h1><a href="/">django BloG</a></h1>


            {% if user.is_authenticated %}
            <!--管理者でログインしているユーザーのみにリンクを表示します。-->

                <!--新規投稿の「＋」ボタン-->
                <a href="{% url 'post_new' %}" class="top-menu">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
                <!--リンク先は 「urls.py に name='post_new' と書かれた path」の意味。これは引数なしですね。
                    "glyphicon glyphicon-plus"クラスは、Bootstrapテーマによって提供され、プラス記号を表示します。
                -->

            {% endif %}

        </div>

        <!--ここから下は 各ページで書き換える-->
        <div class="content container">
            <div class="row">
                <div class="col-md-8">

                {% block content %}
                <!--拡張する側に block content ～ endblock で囲われた
                    エリア作っとけよ、っていう話。
                -->
                {% endblock %}

                {% block buchi %}
                <!--拡張する側に block buchi ～ endblock で囲われた
                    エリア作っとけよ、っていう話。無ければ何も出力されないだけ。。
                -->
                {% endblock %}

                </div>
            </div>
        </div>

    </body>
</html>