
{% extends 'blog/base.html' %}

{% block content %}
    <h2>New post</h2>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}

<!--
フォームを表示する必要があります。 私たちは（例えば）{{ form.as_p }} でこれを行うことができます。
上記の行は HTMLのformタグでラップする必要があります：<form method="POST">...</form>
Save ボタンが必要です。これをHTMLのbuttonタグで行います：<button type="submit">Save</button>
最後に<form ...> タグの開始直後に、 {% csrf_token %}を追加する必要があります。 フォームをセキュアにするためこれは非常に重要です！ これを忘れると、Djangoはフォームを保存しようとすると文句を言うでしょう：
-->
